
@font-face {
    font-family: 'Gilroy';
    src: url("./Gilroy-Regular.woff") format("woff");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}
html{
    font-size: 16px;
}
.hide{
    display: none;
}
.fadeIn{
    animation: fade 0.5s ease-in-out;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
input[type="text"]:focus {
    outline: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    height: 8vh;

    margin: 0 auto;
    background-color: #111111;
}
.logo{
    display: flex;
    align-items: center;
    padding-left: 20px;

}
.logo img{
    width: 60px;
}
.logo p{
    font-weight: bold;
    color: #6a149b
}

nav{

}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li {
    list-style: none;

}
nav ul li:last-child{
    padding-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #6a149b;
    padding: 10px;
}

main{
    max-width: 100%;
    margin: 0 auto;
    height: 84vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0,0,0.9)), url("../img/JH_Dashboard_Map.jpeg");
}
.stats{
    width: 100%;
    height: 600px;

    background-size: cover;
}
.latest-report{
    width: 80%;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding-top: 50px;
}
.country, .total-cases, .recovered, .deaths{
    height: 100px;

}
.name{
    color: #be64f1;
    font-size: 2.2em;
    font-weight: bold;
}
.change-country{
    cursor: pointer;
}
.title{
    font-size: 1.3em;
}
.total-cases .value {
    font-size: 2em;
    font-weight: bold;
}
.recovered .value {
    color: green;
    font-size: 2em;
    font-weight: bold;
}
.deaths .value {
    color: red;
    font-size: 2em;
    font-weight: bold;
}
.new-value{
    font-size: 1.3em;
}

.chart{
    width:80%;
    height: 70vh;

    margin: 0 auto;
    padding :50px 0;
}

.search-country {
    position: relative;
    top: 10px;
}
.search-box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 30px;

    z-index: 1;
}
.search-box input{
    width: 360px;
    height: 25px;
    border: none;

    background-color: transparent;
    color: white;
    padding-left: 15px;
    font-size: 1.1em;
}
.search-box img{
    padding-right: 5px;
    width: 20px;
    cursor: pointer;
}

.country-list{
    position: absolute;
    top: 30px;
    width: 400px;
    height:  300px;
    background-color: #111;
    opacity: 0.9;
    overflow-y: scroll;
    display: flex;
    justify-content: space-around;
}
.country-list ul {
    width: 100%;
}
.country-list ul li {
    list-style: none;
    cursor: pointer;
    padding: 10px;
    color: white;
}
.country-list ul li:hover{
    border-left: 1px solid white;
}
/* SCROLL BAR */
/* width */
.country-list::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.country-list::-webkit-scrollbar-track {
    background: #111;
}

/* Handle */
.country-list::-webkit-scrollbar-thumb {
    background: #F1F1F1;
}

/* Handle on hover */
.country-list::-webkit-scrollbar-thumb:hover {
    background: #FFF;
}
footer{
    max-width: 100%;
    height: 8vh;
    margin: 0 auto;
    background-color: #111111;
}
.footer-container{
    height: 100%;
    display: flex;
    justify-content: center;
}
.credits{
    height: 100%;
    display: flex;
    align-items: center;
}
.credits p{
    color: white;
}
.credits a{
    color: white;
}
.credits a:hover{
    color: #6a149b;
}
.change-country{
    border: 1px solid rgba(106, 20, 155, 0.51);
    border-radius: 2em;
    /*background-color: rgba(190, 100, 241, 0.45);*/
    background-color: rgba(121, 117, 117, 0.45);
    padding: 0 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-country:hover{
    background-color: rgba(190, 100, 241, 0.45);
    color: #F1F1F1;
}
@media screen and (max-width: 600px) {
    .latest-report{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    main{
        height: 130vh;
    }
}
